body {
    background:rgb(197, 197, 197); 
    font-family: Helvetica;
}

.headers {
    background: rgb(255, 255, 255);
    color: rgb(98, 126, 121);
    margin: 0 auto

}

.favoriteBooks {
    color: rgb(143, 32, 32)
}

#firstList li {
    color: rgb(0, 0, 0)
}

nav li {
    list-style: none;
    display: inline;
    padding: 10px 10px;
    margin: 10px 10px; 
    background: rgb(255, 255, 255);
    color: rgb(98, 126, 121)
}
